 body{
    background-color: rgb(18, 3, 32);
}
h1{
    color:aliceblue;
    font-style: italic;
    text-align: center;
    
}

label {
    color: aliceblue;

}

form{
    text-align: center;
} 

.error{
    margin: 10px;
    color:red
}

